body {
    background-color: #edecd6;
}

.i_m {
    width: 500px;
    height: 500px;
    border: 5px dashed darkred;
}

.i_m #image_ {
    width: auto;
    height: 250px;
    border: 5px solid blue;
}

.i_m #image_ img {
    width: 100%;
    height: 100%;
}